@model JTimev2.ViewModels.TimesheetFormViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TimesheetFormViewModel</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(m => m.Id)
            @Html.DropDownListFor(m => m.Id, new SelectList(Model.Weekending, "Id", "DateOfSun"), "Select Week Ending", new { @class = "form-control"})
        </div>
        <div>
            @Html.LabelFor(m => m.JobNumber)
            @Html.TextBoxFor(m => m.JobNumber, new { @class = "form-control"})
        </div>
        <div>
            @Html.LabelFor(m => m.Package)
            @Html.TextBoxFor(m => m.Package, new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(m => m.Activity)
            @Html.TextBoxFor(m => m.Activity, new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(m => m.NCR)
            @Html.TextBoxFor(m => m.NCR, new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(m => m.Variation)
            @Html.TextBoxFor(m => m.Variation, new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(m => m.MondayTime)
            @Html.TextBoxFor(m => m.MondayTime, new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(m => m.TuesdayTime)
            @Html.TextBoxFor(m => m.TuesdayTime, new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(m => m.WednesdayTime)
            @Html.TextBoxFor(m => m.WednesdayTime, new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(m => m.ThursdayTime)
            @Html.TextBoxFor(m => m.ThursdayTime, new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(m => m.FridayTime)
            @Html.TextBoxFor(m => m.FridayTime, new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(m => m.SaturadayTime)
            @Html.TextBoxFor(m => m.SaturadayTime, new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(m => m.SundayTime)
            @Html.TextBoxFor(m => m.SundayTime, new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(m => m.Total)
            @Html.TextBoxFor(m => m.Total, new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(m => m.Billable)
            @Html.TextBoxFor(m => m.Billable, new { @class = "form-control" })
        </div>
        <div>
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        </div>
        

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
